body {
  margin: 0;
  background: #1b244a;
  font-family: Orbitron, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

h3 {
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.25rem;
  text-align: center;
}

.score {
  width: 40px;
  height: 30px;
  font-family: "Cursed Timer ULiL", sans-serif;
  text-align: center;
  font-size: 48px;
  background-color: black;
  color: red;
  padding: 60px;
  margin: 0;
  border-radius: 1px;
}

.buttons-container {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  margin: 0.5rem 0 0 0;
}

button {
  font-family: "Cursed Timer ULiL", sans-serif;
  background-color: transparent;
  height: 2.813rem;
  color: white;
  border: #364153 2px solid;
  border-radius: 0.313rem;
  font-size: 1.125rem;
  cursor: pointer;
  padding: 0.5rem;
  margin: 2rem 0 0;
}
